<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      {{#if loadData.isRunning}}
        <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
      {{else}}
        <p class="u-spacer--tiny">
          Wil u graag de <strong> agenda </strong> beheren?
        </p>
      {{/if}}
    </div>
  </div>
</div>

<div class="modal-dialog__footer">
  {{#if loadData.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{#wu-button-group}}
      {{wu-button
        label="Beheer agenda"
        isNarrow=true
        onClick=(action (mut popup) true)
      }}
    {{/wu-button-group}}
  {{/if}}
</div>


{{#if popup}}
  {{agenda/agenda-modal insert=(action "insert") cancel=(action "cancel") agendapunten=agendapunten}}
  {{agenda/output/agenda-rdfa id=outputAgendapuntenId agendapunten=agendapunten}}
{{/if}}
