<div class="u-padding--round--small u-background--gray-lightest">
  <h2 class="h5">Bewerk agendapunt</h2>
</div>

<div class="u-padding--round--small">

	<label class="form__label form__label--block" for="agendapunt-bewerk">
		Titel agendapunt
		{{textarea class="textarea textarea--block u-spacer--tiny" rows="4" value=(mut agendapunt.titel)}}
	</label>

  <label class="radio">
    <input class="radio__toggle" type="radio" name="geslotenAgendapunt" checked={{not agendapunt.geplandOpenbaar}} onclick={{action "toggleGeplandOpenbaar"}} />
    <span></span>
    <span>Besloten agendapunt</span>
  </label>
  <label class="radio">
    <input class="radio__toggle" type="radio" name="openAgendapunt" checked={{agendapunt.geplandOpenbaar}} onclick={{action "toggleGeplandOpenbaar"}} />
    <span></span>
    <span>Openbaar agendapunt</span>
  </label>

  {{#if createMode}}
  <div class="grid grid--collapse">
  	<div class="col--8-12 col--1-1--s">
			<div class="u-padding--round--small u-background--gray-lightest u-spacer--tb--large">
				<p class="u-spacer--tiny">Een agendapunt verplaatsen</p>
		  	<p class="smaller">Om het agendapunt te verplaatsen, klik eerst op <strong>Bewaar agendapunt</strong>. Vervolgens klikt u bij het agendapunt dat u wil verplaatsen op <strong>Bewerk agendapunt</strong>. U kan vervolgens het agendapunt verplaatsen bij <strong>Verplaats agendapunt</strong>.</p>
		  </div>
  	</div>
  </div>

  {{else}}  {{!-- disable this needs harder thinking brainfart at 4 am --}}
		<div class="u-spacer--top--small">
		  {{agenda/agendapunt/move-punt agendapunt=agendapunt agendapunten=agendapunten onUpdateLocation=(action "onUpdateLocation")}}
		</div>
	{{/if}}

	{{#unless createMode}}
	<div class="u-padding--round--small u-background--gray-lightest u-spacer--tb--large">
	  <h3 class="h5 u-spacer--tiny">Verwijder agendapunt</h3>
	  <p class="small u-spacer--small">
	    <strong>U kan deze actie niet ongedaan maken.</strong> U verwijdert het agendapunt uit de agenda, en de volledige behandeling van het agendapunt.
    </p>

    {{#unless isShowingWarning}}
    <div>
	    {{#wu-button
	       onClick=(action (mut isShowingWarning) true)
	       class="button button--alt button--alt--warning button--narrow"}}
	      Verwijder het agendapunt en de behandeling van het agendapunt
	    {{/wu-button}}
	  </div>
    {{/unless}}

    {{#if isShowingWarning}}
    <div class="u-hr u-spacer"></div>
    <div class="u-spacer--top--tiny">
      <div class="u-spacer">
        <p class="small"><strong>Bent u zeker dat u het agendapunt en de behandeling wil verwijderen?</strong></p>
        <label class="checkbox checkbox--block">
          {{input class="checkbox__toggle" type="checkbox" checked=hasAgreed}}
          <span></span>
          <span>Ik begrijp dat het agendapunt en de behandeling van het agendapunt onomkeerbaar verwijderd worden.</span>
        </label>
      </div>

      {{#wu-button
	       onClick=(action (mut isShowingWarning) false)
	       class="button button--alt button--narrow"}}
	      Behoud agendapunt en behandeling
	    {{/wu-button}}
      <span></span>
      {{#wu-button
         onClick=(action "remove")
         disabled=(if hasAgreed false true)
         class="button button--alt button--alt--warning button--narrow"}}
        Verwijder agendapunt
      {{/wu-button}}


    </div>
    {{/if}}

	</div>
	{{/unless}}
</div>

{{yield}}
