{{#unless sortedAP.length}}
  <mark data-editor-highlight="true">beheer agenda</mark>
{{/unless}}

{{#each sortedAP as |agendapunt|}}
  <span property="besluit:behandelt" resource={{agendapunt.uri}} typeof="besluit:Agendapunt">
    <meta property="besluit:aangebrachtNa" resource={{agendapunt.vorigeAgendapunt.0.uri}}>
    <span property="besluit:geplandOpenbaar"
      datatype="xsd:boolean"
      content="{{agendapunt.geplandOpenbaar}}"
      class="annotation--agendapunt--open__icon">
      {{#if agendapunt.geplandOpenbaar}}
        <i class="fa fa-eye"></i>
      {{else}}
        <i class="fa fa-eye-slash"></i>
      {{/if}}
    </span>
    <span>Agendapunt </span> <span property="dc:title">
      <span >{{agendapunt.titel}}</span>
    </span>
  </span>
{{/each}}
