{{#each agendapunten as |agendapunt idx|}}
  <span property="besluit:behandelt" resource={{agendapunt.uri}} typeof="besluit:Agendapunt">
    {{#unless (eq idx 0)}}
      <span style="display:none;" property="besluit:aangebrachtNa" resource={{agendapunt.vorigeAgendapunt.0.uri}}>&nbsp;</span>
    {{/unless}}
    <span property="dc:subject">Agendapunt -</span>&nbsp;
    <span property="besluit:geplandOpenbaar"
      datatype="xsd:boolean"
      content="{{agendapunt.geplandOpenbaar}}">
      {{#if agendapunt.geplandOpenbaar}}
        <i class="fa fa-eye"></i> <span>Gepland openbaar</span>
      {{else}}
        <i class="fa fa-eye-slash"></i> <span>Gepland besloten</span>
      {{/if}}
    </span>
    <p property="dc:title">
    	{{agendapunt.titel}}
    </p>
  </span>
  <br>
{{else}}
  <mark data-editor-highlight="true">Beheer agenda</mark>
{{/each}}
